.center-img {
    display: block;
    margin: auto;
    width: 80%;
    border: 3px solid;
    padding: 1px;
  }

.text-center {
  margin: auto;
  padding: auto;
}

.navbar-login {
  text-align: right;
  color: white;
  right: 2px;
  font-size: .8rem,bold;
  margin-right: auto;
}

.navbar-about {
  text-align: right;
  color: white;
  right: 2px;
  font-size: .8rem,bold;
  margin-right: auto;
}